<!--
<h1> Hello Angular {{title}} </h1>
 <h1> {{data}} </h1> 
<app-user-list></app-user-list>
<app-student-list></app-student-list>
<app-stud-list></app-stud-list>
<app-login></app-login>

<button (click)="getName()">Click Me</button>
<button (click)="getAge(123)">Click Me</button>
<button (click)="getData('hello')">Call function</button>

<br /><br />
<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup" />
<br /><br />
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="event keydown" />
<br /><br />
<input type="text" #box2 (keyblurr)="getData(box2.value)" placeholder="event keyblurr" />
<br /><br />
<input type="text" #box3 (keyinput)="getData(box3.value)" placeholder="event keyinput" />

<h1 (mouseover)="getData('over')">Code Code</h1>
<h1 (mouseleave)="getData('leave')">Aryan khatri</h1>

<input type="text" #box (keyup)="getValue(box.value)" placeholder="Enter Name" name="username" />
<button ((click))="getValue(box.placeholder)">Click</button>
<p>
  Box value is : {{ displayVal }}
</p>

<button (click)="counter('minus')">--</button>
<p>Count : {{count}} </p>
<button (click)="counter('add')">++</button>
<br/><br/>

<input type="text" name="user-name" value={{name}} disabled={{disable}}>
<br/><br/>
<input type="text" name ="user-name" [value]=name [disabled]=disable>


<h1 *ngIf="show else elseBlock">
  Abcdheje
</h1>
<ng-template #elseBlock>
  <h1>else condition</h1>
</ng-template>

-->
<!-- Another way -->
<!--
<h1 *ngIf="show==='yes'; then ifBlock else elseBlock"></h1>
<ng-template #ifBlock>
  <h1>If Condition</h1>
</ng-template>
<ng-template #elseBlock>
  <h1>else Condition</h1>
</ng-template>
-->
<!--
<ng-template [ngIf]="color==='red'">
  <h1 style="color:red; ">Red color</h1>
</ng-template>

<ng-template [ngIf]="color==='blue'">
  <h1 style="color:blue;">blue color</h1>
</ng-template>

<ng-template [ngIf]="color==='green'">
  <h1 style="color:green; ">green color</h1>
</ng-template>
-->
<!--
<h1> {{title}} </h1>
<div>[ngSwitch]="color">
  <h1 *ngSwitchCase  ="'red'" style = "color:red";>red color</h1>
  <h1 *ngSwitchCase  ="'red'" style = "color:black";>red color</h1>
  <h1 *ngSwitchCase  ="'red'" style = "color:green";>red color</h1>
  <h1 *ngSwitchCase  ="'red'" style = "color:pink";>red color</h1>
  <h1 *ngSwitchCase  ="'red'" style = "color:yellow";>red color</h1>
  <h1 *ngSwitchCase  ="'red'" style = "color:grey";>red color</h1>
  <h1 *ngSwitchDefault> unknown color</h1>
</div>
-->


<!-- these are for loops
<h1> {{ title}}</h1>
<h3 *ngFor="let item of users"> Name is : {{item}}</h3>
<h3 *ngFor="let item of users"> {{item.name}} -- {{item.email}}</h3>
-->

<!-- for style binding , we can add many style to one container as well

<h1 [style.color]="color" [style.backgroundColor]="bgColor"> {{title}} </h1>
<button (click)="updateColor()">Update color</button>
-->

<h1>{{title}}</h1>
<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
  <input type="text" ngModel name = "user" placeholder="Enter user name"/>
  <br/><br/>
  <input type="text" ngModel name = "email" placeholder="Enter user email"/>
  <br/><br/>
  <input type="text" ngModel name = "pass" placeholder="Enter user pass"/>
  <br/><br/>
  <br/>
  <button>Register</button>
</form>

<ul>
  <li>{{userData.user}}</li>
  <li>{{userData.email}}</li>
  <li>{{userData.pass}}</li>
</ul>

<button (click) ="toggle()">Toggle</button>
<h1 *ngIf="display">
    Heading tag
</h1>
<br> 
<br>

<input type="text" placeholder="Enter new task" #task />
<br>  <br> 
<button (click)="addTask(task.value)">Add task</button>
<br>
<ul *ngFor="let item of list">
  <li>{{item.name}}<button (click) ="removeTask(item.id)">Remove</button></li>
</ul>